@model IEnumerable<webshop.Models.Produkt>

@{
    ViewBag.Title = "Produkte";
    Layout = "~/Views/Shared/_LayoutBE.cshtml";
}

<h2>Produkte</h2>

<p>
  @Html.ActionLink("Create New", "Create","Produkte")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beschreibung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beschreibung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategorie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","Produkte",null, new { id=item.Id }) |
            @Html.ActionLink("Details", "Details","Produkte", null,new { id=item.Id })
            @Html.ActionLink("Delete", "Delete","Produkte",null, new { id=item.Id })
        </td>
    </tr>
}

</table>
