@model IEnumerable<webshop.Models.WKorbItem>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProduktId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProduktName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anzahl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rolle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProduktId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProduktName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anzahl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rolle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
